<!--Handlebar templates start-->
{{#each data}}
	<article id="newsroom-alert-{{ this.id }}" class="newsroom-alert--{{ this.attributes.field_alert_level }}">
		{{#if this.attributes.field_alert_links.uri}}
		<a class="newsroom-alert newsroom-alert--{{ this.attributes.field_alert_level }}" href="{{ this.attributes.field_alert_links.uri }}" target="_blank">
    {{else}}
    <a class="newsroom-alert newsroom-alert--{{ this.attributes.field_alert_level }}" href="{{ this.env }}{{ this.attributes.path.alias }}" target="_blank">
    {{/if}}
      <strong>{{ this.attributes.title }}</strong>
      {{#if this.attributes.field_alert_subtitle}}
      : {{ this.attributes.field_alert_subtitle }}
      {{/if}}
    </a>
    <a class="newsroom-alert-dismiss" data-alert-id="{{ this.id }}">
      <span class="hidden">Dismiss alert
        {{ this.id }}</span>
		</a>
  </article>
{{/each}}
